.banner-content {
    height: auto;

    @include desktop() {
        height: 736px;
    }
}

.btn-down {
    position: absolute;
    bottom: -102px;
    right: 104px;
    right: 0;
    width: 44px;
    height: 44px;

    @include desktop() {
        bottom: 0;
    }
}

.img-reservation {
    height: 132px;

    @include tablet() {
        height: 210px;
    }

    @include desktop() {
        height: 350px;
    }

    .title {
        font-size: 24px;
    }
}

.bg-statistics {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-9.jpeg);
}

.statistic-list {
    height: 120px;
    border-width: 2px !important;
    font-size: 20px;

    @include tablet() {
        height: 212px;
    }
}
